* {
    margin: 0 auto;
    list-style-type: none;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.main-logo {
    background-color: black;
}